# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
3+0

3

In [2]:
1 * 99

99

In [3]:
1 / 4

0.25

In [4]:
2 ** 5

32

In [10]:
4 % 2

0

In [10]:
5 % 3

2

In [11]:
2 + 3 * 5 + 5

22

In [12]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [13]:
# Can not start with number or special characters
name_of_var = 2

In [14]:
x = 2
y = 3

In [15]:
z = x + y

In [16]:
z

5

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [23]:
num = 12
name = 'Sam'

In [24]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [25]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists - [item1, item2, ...] - can nest lists inside lists - nested list referenced sequentially
e.g. list = [a, [b, [c, d]]] list[2] [1] = 'd'

In [26]:
[1,2,3]

[1, 2, 3]

In [27]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [28]:
my_list = ['a','b','c']

In [29]:
my_list.append('d')

In [30]:
my_list

['a', 'b', 'c', 'd']

In [31]:
my_list[0]

'a'

In [32]:
my_list[1]

'b'

In [33]:
my_list[1:]

['b', 'c', 'd']

In [34]:
my_list[:1]

['a']

In [35]:
my_list[0] = 'NEW'

In [36]:
my_list

['NEW', 'b', 'c', 'd']

In [37]:
nest = [1,2,3,[4,5,['target']]]

In [38]:
nest[3]

[4, 5, ['target']]

In [39]:
nest[3][2]

['target']

In [40]:
nest[3][2][0]

'target'

### Dictionaries - {key:item}

In [41]:
d = {'key1':'item1','key2':'item2'}

In [42]:
d

{'key1': 'item1', 'key2': 'item2'}

In [43]:
d['key1']

'item1'

In [1]:
# create an empty dict and assign new itmes
y = {}
y[0] = 'foo'
y[3] = 'bar'

print(y)

{0: 'foo', 3: 'bar'}

In [10]:
# create dict of ids as keys and squares as items
id_dict = {}
for i in range(10):
    id_dict[i] = i**2
    print(id_dict[i])

print("id_dict keys:")
print(list(id_dict.keys()))
print("id_dict items:")
print(id_dict)

0
1
4
9
16
25
36
49
64
81
id_dict keys:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
id_dict items:
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [13]:
# assign segment codes to id_dict
id_dict_seg ={}
for i in list(id_dict.keys()):
    if id_dict[i] % 2 > 0:
        id_dict_seg[i] = 'Odd'
    elif id_dict[i] % 2 == 0:
        id_dict_seg[i] = 'Even'
    else:
        print("Error")
        
print("Odd/Even segment codes:")
print(id_dict_seg)

Odd/Even segment codes:
{0: 'Even', 1: 'Odd', 2: 'Even', 3: 'Odd', 4: 'Even', 5: 'Odd', 6: 'Even', 7: 'Odd', 8: 'Even', 9: 'Odd'}

In [40]:
''' STACK OVERFLOW EX.
mydict = {'george':16,'amber':19}
print(list(mydict.keys())[list(mydict.values()).index(16)]) # Prints george

for name, age in dictionary.items():    # for name, age in dictionary.iteritems():  (for Python 2.x)
    if age == search_age:
        print(name)
'''

# examine the 'Even' segment in dict
for id, seg in id_dict_seg.items():
    if seg == 'Even':
        print(id, seg)

0 Even
2 Even
4 Even
6 Even
8 Even

### Booleans - True/False

In [44]:
True

True

In [45]:
False

False

### Tuples - (item1, item2, ...) - like lists but immutable & can be used as keys for dicts

In [46]:
t = (1,2,3)

In [47]:
t[0]

1

In [49]:
# tuples are imutable - should produce an error 
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [44]:
# simple example
x = ('a','b','c')

# list like operations
print(x[2])
print(x[1:])
print(len(x))
print(max(x))
print(min(x))
print(5 in x)
print(5 not in x)

# opps - x is tuple not list
x[2] = 'd'

c
('b', 'c')
3
c
a
False
True

TypeError: 'tuple' object does not support item assignment

In [45]:
# create new tuples using +, *
print(x+x)
print(2*x)

('a', 'b', 'c', 'a', 'b', 'c')
('a', 'b', 'c', 'a', 'b', 'c')

In [50]:
# need , if one element tuple so python does confuse with order of operations
y = 3
z = 4
# add y + z then multiply by 2
print((y+z)*2)
# create tuple from y + z
print((y+z),)

14
7

In [58]:
# packing & unpacking tuples - tuple on L side assigned to values on R side (SAVES MANY LINES OF CODE!)
(one, two, three, four) = (1, 2, 3, 4)
print(one)
print(four)

# don't need () for assignment
one, two, three, four = 1, 2, 3, 4
print(three)

1
4
3

In [63]:
# element with * can take multiple values
one, two, *three = 1, 2, 3, 4
print(three)

one, *two, three = 1, 2, 3, 4
print(two)

one, two, three, four, *five = 1, 2, 3, 4
print(five)

[3, 4]
[2, 3]
[]

In [65]:
# convert between tuples and lists using list() and tuple()
print(list((1,2,3,4)))
print(tuple([1,2,3,4]))

[1, 2, 3, 4]
(1, 2, 3, 4)

In [66]:
# can use list() to break string into characters
list("awesome!")

['a', 'w', 'e', 's', 'o', 'm', 'e', '!']

### Sets - {item1, item2, ...} - must be immutable and hashable

In [45]:
{1,2,3}

{1, 2, 3}

In [72]:
s = {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}
print(s)

# set operations
s.add(4)
print(s)

s.remove(2)
print(s)

# check membership
print(1 in s)
print(2 in s)

# operations with multiple sets
ss = {4, 5, 6, 7}
print(ss)

# | set OR
print(s | ss)

# & set AND
print(s & ss)

# ^ set XOR - Exclusive OR == in A OR B AND NOT (A AND B)
print(s ^ ss)

{1, 2, 3}
{1, 2, 3, 4}
{1, 3, 4}
True
False
{4, 5, 6, 7}
{1, 3, 4, 5, 6, 7}
{4}
{1, 3, 5, 6, 7}

In [76]:
# frozenset - can't be members of other sets
sss = s ^ ss
print(sss)

fsss = frozenset(sss)
print(fsss)

sss.add(8)
print(sss)

sss.add(fsss)
print(sss)

# NOPE
fsss.add(8)

{1, 3, 5, 6, 7}
frozenset({1, 3, 5, 6, 7})
{1, 3, 5, 6, 7, 8}
{1, 3, 5, 6, 7, 8, frozenset({1, 3, 5, 6, 7})}

AttributeError: 'frozenset' object has no attribute 'add'

## Comparison Operators

In [51]:
1 > 2

False

In [52]:
1 < 2

True

In [53]:
1 >= 1

True

In [54]:
1 <= 4

True

In [55]:
1 == 1

True

In [56]:
'hi' == 'bye'

False

## Logic Operators - T & F = F, T & T = T, F & F = T

In [57]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [58]:
(1 > 2) or (2 > 3)

False

In [59]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements - elseif is elif in python

In [60]:
if 1 < 2:
    print('Yep!')

Yep!

In [61]:
if 1 < 2:
    print('yep!')

yep!

In [62]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [63]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [64]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [65]:
seq = [1,2,3,4,5]

In [66]:
for item in seq:
    print(item)

1
2
3
4
5

In [67]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [68]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops - python index starts with 0 (not 1)

In [73]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range(start, length, increment)

In [74]:
range(5)

range(0, 5)

In [75]:
range(2,5)

range(2, 5)

In [71]:
for i in range(5):
    print(i)

0
1
2
3
4

In [76]:
for i in range(2,5):
    print(i)

2
3
4

In [77]:
for i in range(2,5,2):
    print(i)

2
4

In [79]:
for i in range(5,2,-1):
    print(i)

5
4
3

In [80]:
list(range(5))

[0, 1, 2, 3, 4]

In [81]:
list(range(2,5))

[2, 3, 4]

In [82]:
list(range(2,5,2))

[2, 4]

In [83]:
list(range(5,2,-1))

[5, 4, 3]

## list comprehension

In [69]:
x = [1,2,3,4]

In [70]:
# for loop append method
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [71]:
# list comprehension method
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [72]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [73]:
my_func

In [74]:
my_func()

default

In [75]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

In [77]:
def square(x):
    return x**2

In [78]:
out = square(2)

In [79]:
print(out)

4

## lambda expressions

In [80]:
def times2(var):
    return var*2

In [81]:
times2(2)

4

In [82]:
lambda var: var*2

## map and filter

In [83]:
seq = [1,2,3,4,5]

In [84]:
map(times2,seq)

In [85]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [87]:
filter(lambda item: item%2 == 0,seq)

In [88]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [111]:
st = 'hello my name is Sam'

In [112]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

In [103]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Go Sports! #Sports'

In [106]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [107]:
tweet.split('#')[1]

'Sports'

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
d.keys()

dict_keys(['key2', 'key1'])

In [94]:
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [95]:
lst = [1,2,3]

In [96]:
lst.pop()

3

In [108]:
lst

[1, 2]

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True

# Great Job!